<!-- This will be the Suggested Influencer Column -->

<div class="infl-container">
  <div class="suggested-infl">
    <div class="infl-header">
      <h3>Suggested Influencers</h3>
    </div>
      <% @influencers.each do |influencer| %>
        <% if !influencer.starred %>
          <div class="suggested-infl-row">
            <div class="infl-avatar-border">
              <%= image_tag "#{influencer.influencer_instagram_profile_image}", class: 'infl-avatar' %>
            </div>
            <div class="infl-fullname">
              <h4><%= influencer.influencer_full_name %></h4>
              <p><i class="fab fa-instagram"></i><%= "  #{influencer.influencer_instagram_username}" %></p>
            </div>
          <%= link_to "", new_influencer_starred_influencer_path(influencer), class: "fas fa-plus infl-icon" %>
          </div>
        <% end %>
      <% end %>
  </div>

  <!-- This will be the Starred Influencer Column -->

  <div class="starred-infl">
    <div class="infl-header">
      <h3>Starred Influencers</h3>
      <h4>Sort By:</h4>
      <div class="dropdown">
        <button class="infl-dropdown btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Dropdown
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><%= sortable "statistics_engagement", "desc", "Engagement (High-Low)" %></li>
          <li><%= sortable "statistics_engagement", "asc", "Engagement (Low-High)" %></li>
          <li><%= sortable "statistics_followers", "desc", "Followers (High-Low)" %></li>
          <li><%= sortable "statistics_followers", "asc", "Followers (Low-High)" %></li>
        </ul>
      </div>
    </div>
      <% @starred_influencers.each do |starred_influencer| %>
        <div class="starred-infl-row">
            <div class="infl-avatar-border">
              <%= image_tag "#{starred_influencer.influencer.influencer_instagram_profile_image}", class: 'infl-avatar' %>
            </div>
            <div class="infl-fullname">
              <h4><%= starred_influencer.influencer.influencer_full_name %></h4>
              <p><i class="fab fa-instagram"></i><%= "  #{starred_influencer.influencer.influencer_instagram_username}" %></p>
            </div>
            <div class="infl-statistics">
              <h4><%= starred_influencer.influencer.statistics_followers %></h4>
              <p>Followers</p>
            </div>
            <div class="infl-statistics">
              <h4><%= starred_influencer.influencer.statistics_engagement %>%</h4>
              <p>Engagement</p>
            </div>
          <%= link_to "Delete", starred_influencer_path(starred_influencer), method: 'delete' %>
        </div>
      <% end %>
  </div>
</div>












